<div class="container">
  <div class="row">
    <div class="col-12">
      <form (ngSubmit)="onSubmit()" [formGroup]="quizForm">
        <div class="form-group">
          <label for="title">Quiz name</label>
          <input
            class="form-control"
            formControlName="title"
            id="title"
            type="text">
          <span
            *ngIf="!quizForm.get('title').valid && quizForm.get('title').touched"
          >Please enter a valid quiz title</span>
        </div>
        <div class="form-group">
          <label>Author</label>
          <input
            class="form-control"
            formControlName="author"
            type="text">
          <span
            *ngIf="!quizForm.get('author').valid && quizForm.get('author').touched"
          >Please enter a valid author name</span>
        </div>
        <h4>Questions</h4>
          <div class="container">
            <div formArrayName="questions">
            <div  class="row" *ngFor="let question of quizForm.controls.questions.value; let i = index; trackBy: trackElement" >
            <div class="questionAdder col-11 mr-1" >



                <div class="form-group" [formGroupName]="i">
                      id:{{i}}
                  <input class="form-control" formControlName="question" type="text">

                  <select class="custom-select form-control" formControlName="correctAnswer">
                    <option selected>Choose correct answer</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                  </select>
                  Answers
                  <!--odpowiedzi-->

                  <div formArrayName="answers">
                    <div  class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">A)</span>
                      </div>
                      <input class="form-control" [formControlName]="0" type="text">
                    </div>
                    <div  class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">B)</span>
                      </div>
                      <input class="form-control" [formControlName]="1" type="text">
                    </div>
                    <div  class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">C)</span>
                      </div>
                      <input class="form-control" [formControlName]="2" type="text">
                    </div>
                    <div  class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">D)</span>
                      </div>
                      <input class="form-control" [formControlName]="3" type="text">
                    </div>
                  </div>

                  <!--PYTANIA-->



              </div>


            </div>
            <div class="col">
              <div class="row mb-1">
                <div (click)="onAddQuestion()" class="btn add-question rounded col-12 square" type="button">+</div>
              </div>
              <div class="row">
                <div (click)="onDeleteQuestionAtPos(i,question)" class="btn btn-info delete-at-pos col-12">X</div>
              </div>

            </div>
          </div>
            </div>
        </div>
        <button type="submit" class = "btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
