<!-- A vertical navbar -->
<nav class="navbar bg-light flex-lg-grow-0-column">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item hover-underline-animation">
      <a class="nav-link active" routerLink="/">Home</a>
    </li>
    <li class="nav-item hover-underline-animation">
      <a class="nav-link" routerLink="/browse_quizzes">Browse Quizzes</a>
    </li>
    <li class="nav-item hover-underline-animation">
      <a class="nav-link" routerLink="/your_quizzes">Your Quizzes</a>
    </li>
    <li class="nav-item hover-underline-animation">
      <a class="nav-link" routerLink="/upload_quiz">Upload Quiz</a>
    </li>
  </ul>

</nav>
