@font-face{
  font-family: customFonts;
  src: url("../fonts/Reach Story.ttf");

}

.quiz-container{
  font-family: customFonts;
  font-size: 4vw;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  background-image: url('../img/textbookpage.png');
  background-repeat: no-repeat;
  background-size: cover, 10px;
}

.score{
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.quiz-name {
  text-align: center;
}

a {
  text-decoration: none;
  margin-left: 10px;
  margin-bottom: 10px;
}

.selected-answer {
  color: #04b012;
  font-weight: bold;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: blue;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn {
  font-size: 2vw;
  margin-bottom: 10px;
}
