<div class="container">
  <div class="row">
    <div class="col-12 quiz-container">
      <span class="quiz-name">
        {{quizService.actualQuiz.title}}
      </span>
      <hr>
      <span>
        {{quizService.actualQuiz.author}}
      </span>
      <hr>
      <span>
        {{quizService.actualQuestion.question}}
        <hr>
        <div  href="#" class="row" *ngFor = "let answer of quizService.actualQuestion.answers; let i = index">
          <a href="#" [ngClass]="{'selected-answer': answer == quizService.selectedAnswer}" (click)="onClick(i)">
            {{quizService.numberToAscii(i+65)}}) {{answer}}
          </a>

        </div>
      </span>
    </div>
  </div>
</div>
