<div *ngIf="quizService.actualQuiz!=null; else quizDoesntExistBlock" class="container">
  <div class="row">
    <div class="score col-2">
      Score: {{correctAnswers/quizService.actualQuiz.questions.length*100}}%
    </div>
  </div>

  <div class="row">
    <div  class="col-12 quiz-container">
      <div class="quiz-name">
        {{quizService.actualQuiz.title}} by {{quizService.actualQuiz.author}}
      </div>
      <div *ngIf="quizDone==false; else elseBlock">
      <span>
        {{quizService.actualQuestionIndex+1}}. {{quizService.actualQuestion.question}}
        <div class="row" *ngFor = "let answer of quizService.actualQuestion.answers; let i = index">
          <a href="#a" class="nav-item hover-underline-animation"
             [ngClass]="{'selected-answer': quizService.numberToAscii(i+65) == quizService.selectedAnswer}"
             (click)="onClick(i)">
            {{quizService.numberToAscii(i+65)}}) {{answer}}
          </a>


        </div>
        <button (click) = "submitAnswer()" type="button" class="btn btn-primary">
            Submit
        </button>
      </span>
      </div>
      <ng-template #elseBlock>
        Quiz completed, you've scored {{correctAnswers}} out of {{quizService.actualQuiz.questions.length}}
      </ng-template>
    </div>
  </div>
</div>
<ng-template #quizDoesntExistBlock>
  Select or create quiz to play!
</ng-template>
